/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

button, input[type=submit] {
        border: none;
        text-decoration: none;
        cursor: pointer;
}


select{
    appearance: none;
    -moz-appereance: none;
    -webkit-appearance: none;
    padding-right: 20px;
    background-image: url('/assets/images/otraflecha.svg');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 10px;
    color: grey;
}
/* reset fin */

/* ref colores
$dark-sienna: #2A0F04ff;
$dutch-white: #D3C9ACff;
$seal-brown: #41200Fff;
$coyote-brown: #80592Fff;
$ecru: #B9AC7Dff;
*/


body{
    font-family: superior-title,serif;
    font-weight: 400;
    font-style: normal;
    background-color: #2A0F04ff;
    color:  #D3C9ACff;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0 1.5em;
}

h1{
    font-family: superior-title,serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 1px;
    display: contents;
}

h1 img{
    width: 6em;
    filter: invert(1);
}

#hero{
    background-image: url('../images/Afriqua-2019.jpg');
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
}

#hero p{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 18em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#features{
    justify-content: center;
    padding-bottom: 2em;
    background: content-box;
    color: aliceblue;
}

#features article ul{
    letter-spacing: 1px;
}

#features article, #cta, #formulario p{
    text-align: center;
}

#features article:first-child{
    padding-top: 2em;
}

#features article:not(:last-child){
    margin-bottom: 2em;
}

#features img{
    filter: invert(1);
    width: 4em;
}

.titulo{
    margin-bottom: 1em;
    font-size: 2em;
}

.leyenda{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: 700;
}

.descripcion{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: .5px;
    font-size: 15px;
    width: 30em;
    margin: auto;
    margin-bottom: 2em;
}

.numero-grande{
    font-size: 7em;
    line-height: .5;
}

#cta{
    background-color: #80592Fff;
    padding-top: 3em;
    padding-bottom: 3em;
}

#cta button{
    margin-top: 1em;
}

form{
    display: grid;
    width: 400px;
    margin: auto;
}

form, select, input[type=text], input[type=email], textarea{
    font-family: Arial, Helvetica, sans-serif;
}

select, input[type=text], input[type=email]{
    padding: 1em;
    border-radius: 5px;
    border-color: transparent;
}

textarea{
    border: none;
    border-radius: 5px;
    padding: 1em;
}

input[type=submit]{
    margin-bottom: 1em;
}

form input[type=submit]{
    width: fit-content;
    margin: 1em auto;
}

label{
    margin-bottom: 0.5em;
    margin-top: 1em;
}

#formulario{
    padding-bottom: 2em;
    padding-top: 3em;
    background-color:  #D3C9ACff;
    color: #2A0F04ff;
}

footer img{
    filter: invert(1);
}
/* .iconoFacebook{
    background-image: url('/assets/images/icons8-facebook.svg');
    background-repeat: no-repeat;
} 

.iconoSoundcloud{
    background-image: url('/assets/images/icons8-soundcloud.svg');
    background-repeat: no-repeat;
}
*/

footer{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: .5;
    margin-top: 1em;
    padding: 2em;
}

.copyright{
    font-size: 12px;
    text-transform: uppercase;
}

ul{
    list-style-type: none;
}

.redes-sociales{
    display: flex;
}

.redes-sociales li:not(:first-child){
    margin-left: 1em;
}

.btn {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: #2A0F04ff;
font-size: 20px;
background: #f0f8ff;
padding: 10px 20px 10px 20px;
text-decoration: none;
}

.btn:hover {
text-decoration: none;
}

.oculto{
    display: none;
}

/**media queries**/

@media (min-width: 576px) { 
    #hero p{
        font-size: 1.5em;
    }

    .descripcion{
        width: 40em;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    #features{
        display: flex;
        align-items: baseline;
        margin: auto;
    }

    #hero p{
        padding: 1em;
        font-size: 1em;
    }

    #features article:not(:last-child){
        margin-right: 5em;
    }

    form{
        width: 600px;
    }
    
}

/* Large devices (desktops, 992px and up)*/ 
@media (min-width: 992px) { 

    #features article:not(:last-child){
        margin-right: 10em;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/ 
@media (min-width: 1200px) {
    #hero p{
        padding: 1em;
        font-size: 1.5em;
    }

    #features article:not(:last-child){
        margin-right: 15em;
    }
}

/**fin media queries**/